.card-header {
  font-weight: bold;
  color: white;
}

.btn-danger {
  cursor: pointer;
}

.state-0 {
  color: white;
}

.state-1 {
  color: white;
}

.state-2 {
  color: white;
}

.bgstate-0 {
  background-color: rgb(245, 132, 132);
}

.bgstate-1 {
  background-color: rgb(250, 196, 115);
}

.bgstate-2 {
  background-color: rgb(109, 221, 109);
}
