.card-header {
  font-weight: bold;
  color: white;
}

.state-0 {
  background-color: rgb(247, 114, 114);
}

.state-1 {
  background-color: rgb(247, 195, 107);
}

.state-2 {
  background-color: rgb(106, 219, 106);
}
