<div class="container">
  <form class="form" novalidate (ngSubmit)="process()" [formGroup]="form">

    <div class="form-group">
      <input formControlName="name" name="name" class="form-control form-control-lg" type="text" placeholder="Nom et prénom">
      <div class="alert alert-danger" *ngIf="">Champs invalide</div>
    </div>

    <div class="form-group">
        <input formControlName="ref" name="ref" class="form-control form-control-lg" type="text" placeholder="Ex: 1234">
        <div class="alert alert-danger" *ngIf="">Champs invalide</div>
    </div>

    <div class="form-group">
      <select formControlName="state" name="state" class="form-control form-control-lg">
        <option [ngValue]="state.ALIVRER">A LIVRER</option>
        <option [ngValue]="state.ENCOURS">EN COURS</option>
        <option [ngValue]="state.LIVREE">LIVREE</option>
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>

  </form>
</div>
